@import "variables";

.about__subtitle {
  margin-bottom: 2em;
}

.about__button {
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .about {
    background-color: $clr-bg-dark;
  }

  .about__title {
    color: $clr-text-contrast;
  }
}
