.button {
  padding: 0;

  font-family: $ff-bold;

  border: none;

  cursor: pointer;

  text-decoration: none;
}

.button--navigation {
  width: 40px;
  height: 40px;

  background-color: transparent;
}

.button--cv,
.button--certificates {
  display: block;
  width: max-content;

  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: $fw-bold;

  color: $clr-text;
}

.button--certificates {
  font-size: 1rem;
}

.button--hide-certificates {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;

  &::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 15%;
    display: block;
    width: 60%;
    height: 3px;

    background-color: $clr-text;
    border-radius: 20px;

    transform: rotate(45deg);
  }

  &::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 15%;
    display: block;
    width: 60%;
    height: 3px;

    background-color: $clr-text;
    border-radius: 20px;

    transform: rotate(-45deg);
  }
}

@media (min-width: $tablet-width) {
  .button--cv {
    padding: 0.5rem;

    color: $clr-text-contrast;

    border: 2px solid $clr-text-contrast;

    transition: ease 0.2s;

    &:hover {
      border-color: transparent;
    }
  }
}
