.contacts-list {
  list-style: none;
}

.contacts-list__link {
  position: relative;
  display: block;

  font-family: $ff-primary;
  font-weight: $fw-reg;
  font-size: 1.2rem;
  line-height: 2em;
  color: $clr-text-contrast;
}

.contacts-list__icon {
  position: absolute;
  top: 0.5rem;
  left: -30px;

  fill: currentColor;
}

@media (min-width: $tablet-width) {
  .contacts-list {
    display: flex;
    flex-direction: column;
  }

  .contacts-list__item {
    align-self: center;
  }
}

@media (min-width: $desktop-width) {
  .contacts-list__link {
    font-size: 1.6rem;
  }

  .contacts-list__link:hover {
    opacity: 0.7;
  }

  .contacts-list__link:active {
    opacity: 0.5;
  }

  .contacts-list__icon {
    top: 1rem;
    left: -44px;
    width: 25px;
    height: 25px;
  }
}
