@import "variables";

.intro {
  position: relative;
  height: 70vh;
}

@media (min-width: $tablet-width) {
  .intro {
    display: flex;
    flex-wrap: wrap;
  }

  .intro__title {
    width: 70%;
    margin-left: 40%;
    margin-bottom: 0.5em;
  }

  .intro__img {
    position: absolute;
    left: 10%;
    width: 180px;
    height: 200px;

    box-shadow: $box-shadow;
    background-color: currentColor;
  }

  .intro__subtitle {
    width: 100%;
    padding-left: 42%;
  }
}
