@import "variables";

.link {
  display: block;

  font-family: $ff-primary;
  font-weight: $fw-bold;
  line-height: 2.5rem;
  color: $clr-accent;

  text-decoration: underline;
}

.link:hover {
  opacity: 0.7;

  text-decoration: none;
}

.link:active {
  opacity: 0.5;
}

@media (min-width: $desktop-width) {
  .link {
    font-size: 1.2rem;
  }
}
