@import "variables";

.projects-links {
  padding: 0;

  list-style: none;
}

@media (min-width: $tablet-width) {
  .projects-links {
    display: flex;
    justify-content: space-around;
  }
}

@media (min-width: $desktop-width) {
  .projects-links {
    width: max-content;
  }

  .projects-links__item {
    &:not(:last-of-type) {
      margin-right: 2rem;
    }
  }
}
