@import "variables";

.section {
  padding: 5em 2em;
}

.section__title {
  margin: 0;
  margin-bottom: 0.25em;
}

.section__subtitle {
  margin: 0;
  font-size: 1.25rem;
}

.section__subtitle--intro,
.section__subtitle--about {
  margin-bottom: 1em;

  font-family: $ff-secondary;

  background-color: $clr-accent;
}

.section__subtitle--intro {
  font-family: $ff-primary;
}
