@import "variables";

.skills-list {
  padding: 0;

  list-style: none;
}

.skills-list__item {
  max-width: 490px;

  &:not(:last-of-type) {
    margin-bottom: 1em;
  }
}

.skill__list-items {
  padding: 0;

  list-style: none;
}

.skill__list-item {
  &:not(:last-of-type) {
    margin-bottom: 0.3em;
  }
  color: $clr-text-contrast;
}

.skills-list__button {
  display: block;
  margin: 0 auto;
}

@media (min-width: 800px) {
  .skills-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content min-content;
    column-gap: 1rem;
  }
}

@media (min-width: $desktop-width) {
  .skills-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
