@import "variables";

.skill {
  padding: 1.2em;

  box-shadow: $box-shadow;
}

.skill__title {
  margin: 0;
  margin-bottom: 0.5em;

  color: $clr-accent;

  text-transform: uppercase;
}

.skill__subtitle {
  color: $clr-text-contrast;
}

@media (min-width: $desktop-width) {
  .skill__subtitle {
    font-size: 1.2rem;
  }
}
