@import "variables";

.social-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;

  list-style: none;
}

.social-list > * + * {
  margin-left: 2em;
}

.social-list__icon {
  fill: $clr-text-contrast;
}

@media (min-width: $desktop-width) {
  .social-list__link:hover,
  .social-list__link:focus {
    box-shadow: 0 5px 10px 2px $clr-accent;
  }
}
