.up-button {
  position: fixed;
  z-index: 1;
  padding: 0;
  bottom: 75px;
  right: 20px;
  width: 32px;
  height: 32px;
  border: 2px solid;
  display: none;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.up-button--shown {
  display: block;
}

@media (min-width: $desktop-width) {
  .up-button {
    width: 64px;
    height: 64px;
  }
}
