@import "fonts";
@import "global";
@import "variables";
@import "visually-hidden";
@import "blocks/nav";
@import "blocks/nav-list";
@import "blocks/button.scss";
@import "blocks/section";
@import "blocks/intro";
@import "blocks/title-level-one";
@import "blocks/title-level-two";
@import "blocks/accent-phrase.scss";
@import "blocks/title-level-three.scss";
@import "blocks/wrapper.scss";
@import "blocks/about.scss";
@import "blocks/education";
@import "blocks/education-list";
@import "blocks/education-place";
@import "blocks/certificates-list";
@import "blocks/certificates.scss";
@import "blocks/skills-list.scss";
@import "blocks/skill.scss";
@import "blocks/portfolio";
@import "blocks/contacts";
@import "blocks/contacts-list";
@import "blocks/social-list";
@import "blocks/link";
@import "blocks/projects-links";
@import "blocks/technologes";
@import "blocks/my-skills__list";
@import "blocks/logo";
@import "blocks/up-button.scss";
