$ff-primary: "PT Sans", "Arial", sans-serif;
$ff-secondary: "PT Mono", "Arial", sans-serif;
$ff-bold: "PT Sans", "Arial", sans-serif;

$tablet-width: 600px;
$desktop-width: 1000px;

$fw-reg: 300;
$fw-bold: 800;

$clr-bg: #efedef;
$clr-bg-dark: #5e5a5a;
$clr-text: #222022;
$clr-text-contrast: #efedef;
$clr-accent: #3a68ad;
$clr-dropdown-bg: rgba(239, 237, 239, 0.9);
$clr-html-fill: #fe4d1e;
$clr-less-fill: #294f82;
$clr-border: rgba(94, 90, 90, 0.315);

$fs-h1: 3rem;
$fs-h2: 2.25rem;
$fs-h3: 1.25rem;
$fs-body: 1rem;

$box-shadow: 0.25em 0.2em 0.75em rgba(0, 0, 0, 0.25),
  0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
